{% extends 'base.html' %}

{% block content %}

<h1>Shoe Details</h1>
<hr>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="car-title">{{ shoe.name }}</span>
        <p>Brand: {{ shoe.brand }}</p>
        <p>Release: {{ shoe.release }}</p>
        <p>Price: ${{ shoe.price }}</p>
      </div>
    </div>
      <div class="card-action">
      <a href="{% url 'shoes_update' shoe.id %}">Edit</a>
      <a href="{% url 'shoes_delete' shoe.id %}">Delete</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s6">
    <form action="{% url 'add_cleaning' shoe.id %}" method="POST">
      {% csrf_token %}
      {{ cleaning_form.as_p }}
      <input type="submit" class="btn" value="Add Cleaning">
    </form>
    <br>
    {% if shoe.cleaned_for_today %}
    <div class="card-panel teal-text center-align">{{shoe.name}} has been cleaned today</div>
    {% else %}
    <div class="card-panel red-text center-align">{{shoe.name}} might need a cleaning</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Cleaner</th></tr>
      </thead>
      <tbody>
        {% for cleaning in shoe.cleaning_set.all %}
        <tr>
          <td>{{cleaning.date}}</td>
          <td>{{cleaning.get_cleaner_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ shoe.name }}'s Sellers</h3>
    {% if shoe.sellers.count %}
      {% for seller in shoe.sellers.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ seller.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Toys!</h5>
      <p>Add some now!</p>
    {% endif %}
  </div>

  <div class="col s6">
    <h3>Available Sellers</h3>
    {% if available_sellers.count %}
      {% for seller in available_sellers.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ seller.name }}
            </span>
          </div>

          <div class="card-action">
            <form action="" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{ shoe.name }} Already Has All Sellers Available</h5>
    {% endif %}
  </div>
</div>


<!-- <div class="row">
  <hr>
  <div class="col s6">
    <h3>Available Sellers</h3>
    {% if shoe.sellers.count %}
    {% for seller in shoe.sellers.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <span style="color: {{ seller.color }}">{{ seller.color }}</span> {{ seller.name }}
        </span>
      </div> -->
      <!-- <div class="card-action">
        <form action="{% url 'assoc_seller' shoe.id seller.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>{{shoe.name}} Already Has All Sellers Available</h5>
    {% endif %}
  </div>
</div>
</div> -->

<script>
  
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  })

  
  var selectEl = document.getElementById('id_cleaner');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}